.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); // grid-cols-3
    gap: 1rem; // gap-4
    justify-items: center;
    padding: 1rem; // py-4 px-4
    border-radius: 0.75rem; // rounded-xl
    background: linear-gradient(to bottom, #3f3f3f, #525252); // bg-gradient-to-b from-neutral-700 to-neutral-600

    @media (max-width: 1536px) {
        grid-template-columns: repeat(2, 1fr); // max-2xl:grid-cols-2
    }

    @media (max-width: 1000px) {
        grid-template-columns: repeat(1, 1fr); // max-[1000px]:grid-cols-1
    }
}
