.container {
    display: flex;
    flex-direction: column;
    width: 100%; // w-full
    gap: 1rem; // gap-4
    justify-items: center;
    padding: 1rem; // px-4 py-4
    border-radius: 0.75rem; // rounded-xl
    background: linear-gradient(to bottom, #3f3f3f, #525252); // bg-gradient-to-b from-neutral-700 to-neutral-600
}
