.container {
    display: flex;
    position: fixed;
    z-index: 10;
    bottom: 2.5rem;
    transition: opacity 0.3s;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.icon {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
}
