@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html {
    scroll-behavior: smooth;
}

:root {
    --red-500: #ef4444;
    --neutral-950: #0a0a0a;
    --neutral-900: #171717;
    --neutral-800: #262626;
    --neutral-700: #404040;
    --neutral-600: #525252;
    --neutral-500: #737373;
    --neutral-400: #a3a3a3;
    --neutral-300: #d4d4d4;
    --neutral-200: #e5e5e5;
    --neutral-100: #f5f5f5;
    --neutral-900-90: rgba(23, 23, 23, 0.9);
    --neutral-300-80: rgba(212, 212, 212, 0.8);
}
