.main {
    min-height: 100vh; // min-h-screen
    background-color: black; // bg-black
    color: #d1d5db; // text-neutral-200
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    z-index: 20; // z-20
    position: relative;
    background-color: black;
    width: 100%; // w-full
    top: 100vh; // top-[100vh]
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; // gap-5
    padding-bottom: 4rem; // pb-16
}

.footer {
    padding-top: 2.5rem; // pt-10
    max-width: 80%; // max-w-[80%]
    text-align: center;
}

.footerLink {
    color: #f40e2d;
}
