.page {
    min-height: 100vh;
    padding-bottom: 2.5rem;
    width: 100%;
    color: var(--neutral-200);
    background-color: var(--neutral-900);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 100px;

    @media (min-width: 880px) {
        padding-top: 95px;
    }
}

.title {
    font-family: var(--font-chonburi);
    font-size: 2rem;
    line-height: 2.5rem;
    align-self: center;
    text-transform: uppercase;
}
